*{
    padding: 0;    
}
.menu{
    display: flex;    
    list-style-type: none;    
}

.seletoresMenu{
    margin-right: 5px;
}

.navegador{
    color: blueviolet;
}
.negrito{
    font-weight: bold;
}
.color{
    color:red;
}