* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: ghostwhite;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #757575;
    background-color: honeydew;
    padding: 5px;
    border-radius: 10px;
}

.imgLogo {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 41px;
}

@media (min-width:1440px) {
    .imgLogo {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 90px;
    }
}

@media (min-width:2560px) {
    .imgLogo {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 26%;
    }
}

@media (min-width:3000px) {
    .imgLogo {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 39%;
    }
}


.menuBar {
    background-color: #B3E5FC;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 5px;
    margin-left: 60px;
}


@media (min-width:1440px) {
    .menu {
        list-style-type: none;
        padding: 5px;
        margin-left: 98px;
    }
}


@media (min-width:2560px) {
    .menu {
        list-style-type: none;
        padding: 5px;
        margin-left: 700px;
    }
}

@media (min-width:3000px) {
    .menu {
        list-style-type: none;
        padding: 5px;
        margin-left:39%;
        
    }
}

.menuTopico {
    margin-right: 10px;
    display: inline-block;
}

.container1 {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
}

.cntHome {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 30px;
    width: 250px;
    font-size: 10px;
}

.btnHome {
    float: right;
}

.imgHome {
    width: 100%;
    height: 186px;
    transition: transform .2s;
}

.imgHome:hover {
    transform: scale(0.9);
}

.container2 {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.container3 {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 2em;
    background-color: white;
}

.topic {
    margin-left: 30px;
}

.aboutTopic {
    width: 600px;
    padding: 2em;
    margin-left: 50px;
    text-align: justify;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

table th {
    background-color: #eee;
    padding: 10px;
}

table td {
    background-color: #eee;
    padding: 10px;
}

.colunas {
    display: flex;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.coluna {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px 0;
}

form label {
    display: block;
}

.radioButtons {
    display: flex;
}

.btnRadio {
    margin: 5px;
}

textarea {
    width: 400px;
}

.btnContact {
    padding: 5px;
    width: 100px;
    margin: auto 0;
    float: right;
}

@media(min-width:320px) {
    .colunaLateral {
        padding: 10px;
        border: 1px solid #BDBDBD;
        margin-top: 30px;
        align-items: center;
        width: 400px;
    }
}

@media(min-width:885px) {
    .colunaLateral {
        padding: 10px;
        border: 1px solid #BDBDBD;
        margin-left: 60px;
        align-items: center;
        width: 400px;
    }
}

@media(min-width:1024px) {
    .colunaLateral {
        padding: 10px;
        border: 1px solid #BDBDBD;
        margin-left: 150px;
        align-items: center;
        width: 400px;
    }
}